<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="google-signin-client_id" content="9562851941-o030r29p5o5u859jo4o9kg90psj8civ8.apps.googleusercontent.com">
    <title>Title</title>
</head>
<body>
    <center>
        <br>
        <p>Add your daily expenses</p>
        <p>Find your balance</p>
        <p>Analyse your day/monthly/yearly expenses</p>
        <br>
        <p>Login with <a href="{% url "social:begin" "google-oauth2" %}">Google</a> to start</p>
        <br>
        <p>This website is free to use</p>
        <p>Send feedback through Whatsapp +919895685141 </p>
    </center>
</body>
</html>